# logging / debugging
/Debug/
*.log

# MacOS file attribute stores
.DS_Store

# VSCode entries
.vs/
!.vscode/launch.json
.vscode/tasks.json
!.vscode/settings.json
.vscode/c_cpp_properties.json

# CMake files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
Testing/
CTestTestfile.cmake

# Ninja files
*.ninja
*.ninja_*

# Object files
*.o
libRiftCore.a
*.so

# Player data
player/*.plr
player/Player.lst

# Live config files
config.json

# Binaries
rift
code/rift
area/rift
*.exe
code/rift.exe
area/rift.exe
area/rift
build/
tests/*_tests
tests/*_helpers
tests/catch
tests/libTestMain.a

# Vagrant directories and files
/.vagrant
/vendor
/Homestead.json
/Homestead.yaml
/ca.homestead.riftshadow.crt

# Database Files
!/db/rift/

# Development config files
*.Development.json

# .NET Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

[Dd]ebug/x64/
[Dd]ebugPublic/x64/
[Rr]elease/x64/
[Rr]eleases/x64/
bin/x64/
obj/x64/

[Dd]ebug/x86/
[Dd]ebugPublic/x86/
[Rr]elease/x86/
[Rr]eleases/x86/
bin/x86/
obj/x86/

[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]64[Ee][Cc]/
bld/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

