# logging / debugging
/Debug/
*.log

# VSCode entries
.vs/
.vscode/
.vscode/launch.json
.vscode/tasks.json

# Object files
*.o

# Player data
player/*.plr
player/Player.lst

# Binaries
rift
code/rift
area/rift
*.exe
code/rift.exe
area/rift.exe