# logging / debugging
/Debug/
*.log

# VSCode entries
.vs/
!.vscode/launch.json
.vscode/tasks.json
!.vscode/settings.json
.vscode/c_cpp_properties.json

# CMake files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
Testing/
CTestTestfile.cmake

# Ninja files
*.ninja
*.ninja_*

# Object files
*.o
libRiftCore.a
*.so

# Player data
player/*.plr
player/Player.lst

# Live config files
config.json

# Binaries
rift
code/rift
area/rift
*.exe
code/rift.exe
area/rift.exe
area/rift
build/
tests/*_tests
tests/*_helpers
tests/catch
tests/libTestMain.a

# Vagrant directories and files
/.vagrant
/vendor
/Homestead.json
/Homestead.yaml
/ca.homestead.riftshadow.crt

# Database Files
!/db/rift/
