// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.was-validated select.form-control[size]:invalid,
select.form-control.is-invalid[size] {
    background-image: none;
}
